body {
  background-color: black;
  color:white;
  font-family:Cambria, Cochin, serif;
}

h1 {
  font-size: 3em;
  margin: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

h4 {
  display: block;
  font-size: 1.50em;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-left: 50px;
  margin-inline-end: 0px;
}

ol {
  display: block;
  font-size: 1.50em;
  margin-block-end: 1em;
  margin-left: 50px;
  margin-inline-end: 0px;
}

h2 {
  text-align: center;
}

.age-input {
  text-align: center;
  font-size: 1.50em;
  font-weight: bold;
}

.column {
  width: 450px;
  float: left;
  margin: 10px;
  font-size: 1.15em;
  align-items: center;
  background-color: grey;
  padding: 5px;
}

.center-column {
  align-items: center;
}